
# File types to ignore #
*.db
*.pickle
*.h5
*.hdf5
*.h5py
*.sql
*.sqlite
*.pyc
.DS_Store
.DS_Store?
.Trashes
test.py
Details about the PostgreSQL database
Lit Review/
data/
random_data.csv
random_db.py

