
# File types to ignore #
*.db
*.pickle
*.h5
*.hdf5
*.h5py
*.sql
*.sqlite
*.pyc
*.ods
.DS_Store
.DS_Store?
.Trashes
test.py
Results/
random_data.csv
random_db.py
control_values/
question_indices/
analysis, standardisation and averaging.txt

